In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv('../arabic_news_tokenized/arabic_news_train_tokenized.csv')
df2 = pd.read_csv('../arabic_news_tokenized/arabic_news_test_tokenized.csv')
df = pd.concat([df1, df2])

In [5]:
df.head()

                                               Desc           Type
0  \n\nصدر عن وزير العدل اللواء اشرف ريفي البيان ...   اخبار محلية
1  \n\nراى النائب حسن فضل الله ان " سياسة التفرد ...   اخبار محلية
2  \n\nعقد رئيس التجمع الشعبي العكاري النائب السا...   اخبار محلية
3  \n\nتراس البطريرك الماروني الكاردينال مار بشار...   اخبار محلية
4  \n\nسمع صباحا في صغبين- البقاع دوي انفجار قوي ...   اخبار محلية

In [6]:
df.groupby(' Type').count()

                         Desc
 Type
 اخبار اقتصادية ومالية   12566
 اخبار اقليمية ودولية    21214
 اخبار رياضية             7495
 اخبار فنية               8887
 اخبار محلية            107582

In [11]:
all_categories = set(df[' Type'])
category2ind = {cat:i for i,cat in enumerate(all_categories)}
with open('{}/cat2ind.csv'.format(data_dir), 'w') as f:
    for el in category2ind:
        f.write('{},{}\n'.format(el, category2ind[el]))
    f.close()

In [14]:
import random
import os

data_dir = 'data'
data_train = []
data_valid = []
data_test = []

for cat in all_categories:
    documents = list(df.loc[df[' Type'] == cat]['Desc '])
    documents = [document.replace('\n', ' ').replace('\r', ' ') for document in documents]
    assert len(documents) > 7000
    data_train += [(document, category2ind[cat]) for document in documents[:5000]]
    data_valid += [(document, category2ind[cat]) for document in documents[5000:6000]]
    data_test += [(document, category2ind[cat]) for document in documents[6000:7000]]
    
random.shuffle(data_train)
random.shuffle(data_valid)
random.shuffle(data_test)

def write_data(data, subset):
    with open('{}/{}_documents.txt'.format(data_dir, subset), 'w') as f1, open('{}/{}_labels.txt'.format(data_dir, subset), 'w') as f2:
        for element in data:
            f1.write('{}\n'.format(element[0]))
            f2.write('{}\n'.format(element[1]))
        f1.close()
        f1.close()

if not os.path.isdir(data_dir):
    os.mkdir(data_dir)

write_data(data_train, 'train')
write_data(data_valid, 'valid')
write_data(data_test, 'test')